@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --decoration-primary-color: #8f0101;
  --decoration-secondary-color: #bb1515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  height: 4px;
  width: 180px;
  background-color: var(--decoration-primary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 200px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--titles-weight);
  font-size: 20px;
  background-color: var(--decoration-secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover { 
    background-color: var(--decoration-primary-color);
  }
}
